{
  email {{caddy_email}}
  #acme_ca https://acme-staging-v02.api.letsencrypt.org/directory
}

*.home.eltimn.com {
  tls {
    dns cloudflare {{caddy_cloudflare_token}}
  }

  @unifi host unifi.home.eltimn.com
  handle @unifi {
    reverse_proxy https://{{router_ip}} {
      transport http {
        tls_insecure_skip_verify # unifi uses self-signed certs
      }
    }
  }

  @channels host dvr.home.eltimn.com
  handle @channels {
    reverse_proxy localhost:8089
  }

  @www host www.home.eltimn.com
  handle @www {
    reverse_proxy {{docker_homepage_ip}}:3000
  }

  @web host web.home.eltimn.com
  handle @web {
    root * /var/www/html
    encode gzip
    file_server
  }

  # Fallback for otherwise unhandled domains
  handle {
    abort
  }
}
