use flake
# export GOOSE_LEAD_PROVIDER="gemini-cli"
# export GOOSE_LEAD_MODEL="gemini-3-pro"
# export GOOSE_LEAD_TURNS="5"
export GOOSE_PLANNER_PROVIDER="ollama"
export GOOSE_PLANNER_MODEL="qwen3-next:80b-cloud"
# OpenTofu Stuff
export TF_VAR_cloudflare_zone_id=bc6ee92f0fb488f41bae22040b6e5163
export TF_VAR_cloudflare_api_token=$(cat /home/nelly/.config/sops-nix/secrets/cloudflare_api_token)
export TF_VAR_digitalocean_token=$(cat /home/nelly/.config/sops-nix/secrets/digitalocean_token)
export TF_VAR_home_ip=174.141.206.156
export AWS_SECRET_ACCESS_KEY=$(cat /home/nelly/.config/sops-nix/secrets/digitalocean_state_key)
export AWS_ACCESS_KEY_ID=DO801RQ3VTQAV4LJ7BRA
export DIGITALOCEAN_ACCESS_TOKEN=$(cat /home/nelly/.config/sops-nix/secrets/digitalocean_token)
