use flake
# export GOOSE_LEAD_PROVIDER="gemini-cli"
# export GOOSE_LEAD_MODEL="gemini-3-pro"
# export GOOSE_LEAD_TURNS="5"
export GOOSE_PLANNER_PROVIDER="ollama"
export GOOSE_PLANNER_MODEL="qwen3-next:80b-cloud"
