---

networks:
  nas_net:
    external: true
  db_net:

volumes:
  db:
  data:
  logs:

services:
  mongodb:
    image: mongo:4.4
    container_name: unifi-mongo
    restart: unless-stopped
    volumes:
      - db:/data/db
      # - ./init-mongo.js:/docker-entrypoint-initdb.d/init-mongo.js:ro
    networks:
      - db_net

  unifi-network-application:
    image: lscr.io/linuxserver/unifi-network-application:latest
    container_name: unifi-network-app
    depends_on:
      mongodb:
        condition: service_started
    restart: unless-stopped
    environment:
      - PUID={{unifi_user.uid}}
      - PGID={{unifi_user.group}}
      - TZ='America/Chicago'
      - MONGO_USER=unifi
      - MONGO_PASS={{unifi_mongo_password}}
      - MONGO_HOST=mongodb
      - MONGO_PORT=27017
      - MONGO_DBNAME=unifi
      #- MEM_LIMIT=1024 #optional
      #- MEM_STARTUP=1024 #optional
      #- MONGO_TLS= #optional
      #- MONGO_AUTHSOURCE= #optional
    volumes:
      - data:/config/data
      - logs:/config/logs
    ports:
      #- 8080:8080
      #- 8443:8443
      - 3478:3478/udp
      - 10001:10001/udp
      #- 1900:1900/udp #optional
      #- 8843:8843 #optional
      #- 8880:8880 #optional
      #- 6789:6789 #optional
      #- 5514:5514/udp #optional
    networks:
      - nas_net
      - db_net
    labels:
      - homepage.group=Network
      - homepage.name=Unifi
      - homepage.icon=unifi.png
      - homepage.href=https://unifi.home.eltimn.com/
      - homepage.description=Unifi Network Controller
      #- homepage.widget.type=unifi
      #- homepage.widget.url=https://unifi-network-app:8443
      #- homepage.widget.username={{unifi_admin_user}}
      #- homepage.widget.password={{unifi_admin_password}}
      #- homepage.widget.site=eltimn # optional

