// Noctalia actions
binds {
  Mod+Space {
    spawn "noctalia-shell" "ipc" "call" "launcher" "toggle"
  }
  Mod+P {
    spawn "noctalia-shell" "ipc" "call" "sessionMenu" "toggle"
  }
  Mod+Alt+L {
    spawn "noctalia-shell" "ipc" "call" "lockScreen" "lock"
  }
  Mod+Alt+M {
    power-off-monitors
  }
  XF86AudioRaiseVolume allow-when-locked=true {
    spawn "noctalia-shell" "ipc" "call" "volume" "increase"
  }
  XF86AudioLowerVolume allow-when-locked=true {
    spawn "noctalia-shell" "ipc" "call" "volume" "decrease"
  }
  XF86AudioMute allow-when-locked=true {
    spawn "noctalia-shell" "ipc" "call" "volume" "muteOutput"
  }
  XF86AudioMicMute allow-when-locked=true {
    spawn "noctalia-shell" "ipc" "call" "volume" "muteInput"
  }
  XF86AudioPlay allow-when-locked=true {
    spawn "playerctl" "play-pause"
  }
  XF86AudioStop allow-when-locked=true {
    spawn "playerctl" "stop"
  }
  XF86AudioPrev allow-when-locked=true {
    spawn "playerctl" "previous"
  }
  XF86AudioNext allow-when-locked=true {
    spawn "playerctl" "next"
  }
  XF86MonBrightnessUp allow-when-locked=true {
    spawn "brightnessctl" "--class=backlight" "set" "+10%"
  }
  XF86MonBrightnessDown allow-when-locked=true {
    spawn "brightnessctl" "--class=backlight" "set" "10%-"
  }
}
// Noctalia wallpaper layers (stationary wallpaper).
layer-rule {
  match namespace="^noctalia-wallpaper"
  place-within-backdrop true
}

