---
# https://github.com/nephelaiio/ansible-role-mongodb-repo

- name: Install mongo repository
  ansible.builtin.deb822_repository:
    name: mongodb
    uris: "{{ mongo_repo_baseurl }}/apt/{{ ansible_distribution | lower }}"
    suites: "{{ ansible_distribution_release }}/mongodb-org/{{ mongo_version }}"
    components: "{{ 'main' if (ansible_distribution == 'Debian') else 'multiverse' }}"
    signed_by: "{{ mongo_repo_gpg_key }}"
    state: present
    enabled: true

- name: Update apt repos
  ansible.builtin.apt:
    update_cache: true

- name: Install mongodb-shell
  package:
    name: mongodb-mongosh
    state: latest

- name: Install mongodb-tools
  package:
    name: mongodb-database-tools
    state: latest

#- name: Create disable-transparent-hugepages file
#  copy:
#    src: disable-transparent-hugepages
#    dest: /etc/init.d/disable-transparent-hugepages
#    mode: 0755
#    owner: root
#    group: root
#  notify: Update disable-transparent-hugepages
