[Desktop Entry]
Categories=Application;Network
Exec=sh -c "sleep 5 && filen-desktop --hidden"
GenericName=File Syncer
Name=Filen
Terminal=false
Type=Application
Version=1.4
