[Desktop Entry]
Name=mount-secret
GenericName=mount secret-cipher directory
Comment=Mount the encrypted secret-cipher directory
Exec=bash -c 'gocryptfs --idle 2h ~/secret-cipher ~/secret'
Terminal=true
Type=Application
