[Desktop Entry]
Name=mount-secret
GenericName=mount secret-cipher directory
Comment=Mount the encrypted secret-cipher directory
Exec=sh -c 'gocryptfs --extpass="secret-tool lookup gocryptfs secret" ~/secret-cipher ~/secret'
Terminal=true
Type=Application
