---
# Docker

- name: Add docker repo
  ansible.builtin.deb822_repository:
    name: docker
    types: deb
    uris: https://download.docker.com/linux/ubuntu
    suites: '{{ ansible_distribution_release }}'
    components: stable
    architectures: amd64
    signed_by: https://download.docker.com/linux/ubuntu/gpg
  tags: docker

- name: Install docker
  package:
    name: "{{item}}"
    state: latest
  with_items:
    - docker-ce
    - docker-ce-cli
    - containerd.io
    - docker-compose-plugin
  tags: docker

# linux-image-extra-$(uname -r)
- name: Make sure docker group exists
  group: name=docker state=present
  tags: docker

- name: Add user to docker group
  user: name={{ username }} groups=docker append=yes
  tags: docker
