---
# NAS

- hosts: nas
  become: yes
  become_method: sudo
  vars_files:
    - vaults/nas.yml
  vars:
    username: nelly
    computer_type: nas
    subnet_cidr: "192.168.0.0/24"
    docker_cidr: "172.27.0.0/16"
    docker_plex_ip: "172.27.0.2"
    docker_unifi_ip: "172.27.0.3"
    docker_homepage_ip: "172.27.0.4"
    router_ip: "192.168.0.1"
  roles:
    - common
    - common-server
    - caddy
    # - cryptomator-cli
    # - nextcloud
    # - byobu
    - docker
    - sshd
    - zfs
    - mongo # shell and tools
    - nas
    #- nix this was run manually on illmatic, only use if starting new
    - ufw
