---
- name: create bin dir
  ansible.builtin.file:
    path: "/home/{{username}}/bin"
    state: directory
    owner: "{{username}}"
    group: "{{username}}"
  tags: nas

- name: Copy scripts
  ansible.builtin.copy:
    src: "{{ item }}"
    dest: "/home/{{username}}/bin"
    owner: "{{username}}"
    group: "{{username}}"
    mode: 0755
  with_fileglob:
    - bin/*
  tags: nas

- name: Create secret dir
  ansible.builtin.file:
    path: "/home/{{username}}/secret"
    state: directory
    owner: "{{username}}"
    group: "{{username}}"
    mode: 0700
  tags: nas

- import_tasks: borg.yml
  tags:
    - nas
    - borg

- name: Create the docker network
  ansible.builtin.shell:
    cmd: docker network create --subnet={{docker_cidr}} nas_net >> /srv/docker/nas_net
    creates: /srv/docker/nas_net
  tags:
    - nas
    - nas-network

# - name: Create the docker network
#   community.docker.docker_network:
#     name: nas_net
#   tags: nas

- name: Create /srv/docker directory
  ansible.builtin.file:
    path: /srv/docker
    owner: root
    group: root
    state: directory
  tags:
    - nas
    - caddy
    - channels
    - plex
    - unifi
    - homepage

# - import_tasks: caddy.yml
#   tags:
#     - nas
#     - caddy

# - import_tasks: channels.yml
#   tags:
#     - nas
#     - channels

# - import_tasks: plex.yml
#   tags:
#     - nas
#     - plex

# - import_tasks: unifi.yml
#   tags:
#     - nas
#     - unifi

- import_tasks: homepage.yml
  tags:
    - nas
    - homepage
